[Unit]
Description=Revive tymr timers on user login
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tymr --revive

[Install]
WantedBy=default.target
